/* nav */
header nav{
    display: flex;
    gap: 16px;
    justify-content: end;
    max-width: 1200px;
    margin: 0 auto;

    padding: 40px;
}

header nav h1 {
    font-size: 30px;
    margin-right: auto;
    border-bottom: 2px solid orangered;
}

header nav a{
    text-decoration: none;
    padding: 6px;
    border-radius: 4px;
}
header nav a.active{
    background: orangered;
}